<div class="well">
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="username" data-i18n="UserName"></label>
			<div class="controls">
				<input type="text" name="username" data-ng-model="userInfo.username" data-ng-disabled="true">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="firstname" data-i18n="FirstName"></label>
			<div class="controls">
				<input type="text" name="firstname" data-ng-model="userInfo.name" data-ng-disabled="true">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="surname" data-i18n="SurName"></label>
			<div class="controls">
				<input type="text" name="surname" data-ng-model="userInfo.surName" data-ng-disabled="true">
			</div>
		</div>
	</form>
</div>