<div class="well">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="username" data-i18n="_UserName_"></label>
			<div class="col-sm-10">
				<input type="text" name="username" class="form-control" data-ng-model="userInfo.username" data-ng-disabled="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="firstname" data-i18n="_FirstNam_e"></label>
			<div class="col-sm-10">
				<input type="text" name="firstname" class="form-control" data-ng-model="userInfo.name" data-ng-disabled="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="surname" data-i18n="_SurName_"></label>
			<div class="col-sm-10">
				<input type="text" name="surname" class="form-control" data-ng-model="userInfo.surName" data-ng-disabled="true">
			</div>
		</div>
	</form>
</div>