<div class="well" ng-conroller="UserController">
	<div class="alert alert-error" ng-hide="errorMessage == null">
		<strong>Error:</strong> {{errorMessage}}
	</div>
	<form class="form-horizontal" ng-submit="login()">
		<div class="control-group">
			<label class="control-label" for="username">Email</label>
			<div class="controls">
				<input type="text" name="username" ng-model="username" placeholder="Email" auto-fill-sync>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" name="password" ng-model="password" placeholder="Password" auto-fill-sync>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Sign in</button>
			</div>
		</div>
	</form>
</div>