<div class="well" data-ng-conroller="MenuController" data-ng-init="load()">
	<ul class="list-unstyled" data-ng-repeat="menuGroup in menuGroups">
		<li><h4 class="menu-date">{{ menuGroup.forDate | date : 'EEEE'}} <small>{{ menuGroup.forDate | date : 'dd.MM.yyyy'}}</small></h4>
			<ul class="list-unstyled list-menu" data-ng-repeat="menu in menuGroup.menus">
				<li><h5 class="menu-name">{{menu.name}}</h5>
					<div class="row">
						<dl class="dl-horizontal" data-ng-repeat="food in menu.foods">
							<dt>{{"_" + food.type + "_" | i18n}}</dt>
							<dd>
								{{food.name}}<br/>
								<small>{{food.description}}</small>
							</dd>
						</dl>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>