<div class="well" data-ng-conroller="OrderController" data-ng-init="shift=0; load(shift)">
	<form class="form-horizontal" data-ng-submit="store()">
		<ul class="list-unstyled" data-ng-repeat="order in orders">
			<li><h4 class="menu-date">{{ order.forDate | date : 'EEEE'}} <small>{{ order.forDate | date : 'dd.MM.yyyy'}}</small></h4>
				<ul class="list-unstyled list-menu" data-ng-repeat="menu in order.menus">
					<li><h5 class="menu-name">{{menu.name}}</h5>
						<div class="row">
							<div class="col-sm-8">
								<dl class="dl-horizontal" data-ng-repeat="food in menu.foods">
									<dt>{{"_" + food.type + "_" | i18n}}</dt>
									<dd>
										{{food.name}}<br/>
										<small>{{food.description}}</small>
									</dd>
								</dl>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="adult" class="col-sm-6 control-label">{{ '_AdultPortionCount_' | i18n}}</label>
									<div class="col-sm-6">
										<input type="number" class="form-control" id="adult" placeholder="0" data-ng-model="menu.amountAdult">
									</div>
								</div>
								<div class="form-group">
									<label for="adult" class="col-sm-6 control-label">{{ '_ChildrenPortionCount_' | i18n}}</label>
									<div class="col-sm-6">
										<input type="number" class="form-control" id="adult" placeholder="0" data-ng-model="menu.amountChild">
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</li>
			<li>
				<div class="controls">
					<button type="submit" class="btn btn-default" data-i18n="_Send_">Send</button>
				</div>
			</li>
		</ul>
	</form>
</div>